/.vscode
/data/downloads/
/data/raw/
/data/processed/
!/data/raw.dvc
!/data/.gitignore
/venv
/src/__pycache__
/src/data/__pycache__
/src/models/__pycache__
/src/training/__pycache__
/artifacts
/src/evaluation/__pycache__
/mlruns
mlflow.db
